.App {
  text-align: center;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
@keyframes change {
  20%{
    background-color: #8defef;
  }
  40%{
    background-color: #9aefd5;
  }
  60%{
    background-color: #f69a9a;
  }
  80%{
    background-color: #e39885;
  }
  100%{
    background-color: #7da1de;
  }
}


